<html lang="en">

<%- include("../partials/header.ejs") %>
    
    <body>
        <%- include("../partials/nav.ejs") %>
        <div class="container">
            <h1>Hello World</h1>
            <p>test again..yea this is from ejsxxyy</p>
        </div>
    </body>

<%- include("../partials/footer.ejs") %>

</html>

<%- include("../partials/scripts.ejs") %>